@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins';
}
/* body 
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: #f2f3f7;
} */

body{
    margin: 20px;
}

.heading{
    text-align: center;
    font-family: 'Poppins';

}
.subheading{
    text-align: center;
    font-family: 'Poppins';
    
}

.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap !important;
}
.container .card
{
   width: 310px;
   height: 430px;
   padding: 60px 30px;
   margin: 30px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .sci a:hover
{
   color: #0196e3;
}
/*   colors
        #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */

 footer{
    font-family: 'Poppins';
  }
  
  .heading{
    font-weight: 700;
    padding-bottom: 7%;
    color:black;
  }
  
  .container-fluid{
    padding: 5% 14%;
    margin: 0%;
  }
  
  .about{
    font-weight: 500;
    color: #969AA7;
  }
  
  i{
    margin-right:5px;
    margin-top:5%;
    color: #0083FF;
  }
  
  .copyright{
    color: #969AA7;
    text-align: center;
    
  }
  
  .fields{
   
    margin-bottom: 2%;
    border-radius: 10px;
    width:20rem;
    border: 2px solid #b1d3f3;
  }
  
  
  form{
    padding-top:0%;
    padding-left: 0%;
    margin-left: 0%;
  }
  
  textarea {
    
    padding-bottom: 6px ;
    resize: none;
  }
  
  
  hr{
    color:#0083ff;
    border-top: 2px solid ;
    width: 70%; 
    margin-right: auto;
    margin-left:auto ;
  }
  
  .section{
    padding-left: 10%;
  }
  
  .submit{
    border-radius:50px;
  }
  
  
  
  .card-body{
    text-align: center;
  }
  .card-mid{
    height: 10rem;
    width:10rem;
    grid-area: overlap;
    justify-content: center;
    align-self: center;
    
  }

  .imgs{

     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr;
     grid-template-areas: overlap;

  }
  .card-img-top{
    grid-area: overlap;
    justify-content: center;
    align-self: center;
  }

  .card-bot{
    height: 4rem;
    width:4rem;
    grid-area: overlap;
    justify-content: center;
    align-self:center;
    margin-left:5.4rem;

  }
